<% layout('layout/layout') %>
<% block('title', 'Чат') %>
<div>
    <div  class="col-md-9" style="border-bottom-left-radius: 10px;">
        <div class="chat">
        </div>
    </div>

    <div class="col-md-3">
        <div class="list">
            Сейчас в сети:
            <ul class="user-list">

            </ul>
        </div>
    </div>

    <div style="border-bottom-left-radius: 10px;">
        <form>
            <div class="col-md-1">
                <input class="form-control text-box single-line" id="receiver" autocomplete="off" type="text" placeholder="Кому" value="" />
            </div>
            <div class="col-md-9">
                <input class="form-control text-box single-line" style="border-bottom-left-radius: 0px;" id="msg" autocomplete="off" type="text" placeholder="Сообщение..." value="" />
            </div>
            <div class="col-md-2" style="border-bottom-right-radius: 10px">
                <input type="submit" value="Отправить" class="btn btn-primary" style="width: 100%"/>
            </div>
        </form>
    </div>
</div>

<script src="/libs/bower_components/socket.io-client/socket.io.js"></script>
<script>
    var chatBody = $('.chat');
    var list = $('.user-list');
    var form = $('form');

    var socket = io.connect('',{
        reconnect: false
    });

    socket.on('message', function(name, message){
                printMsg(name + ': ' + message, {backgroundColor: ''});
            })
            .on('privateMessage', function(message){
                printMsg(message.sender + '->' + message.receiver+ ': ' + message.text, {backgroundColor: '#fbc8c8'});
            })
            .on('join', function(name){
                socket.emit('getUserList');
                printStatus(name + ' подключился', {fontStyle: 'italic', color: '#09ab14'});
            })
            .on('leave', function(name){
                socket.emit('getUserList');
                printStatus(name + ' отключился', {fontStyle: 'italic', color: '#ff0000'});
            })
            .on('connect', function(){
                printStatus('соединение установлено', {fontStyle: 'italic', color: '#09ab14'});
                socket.emit('getUserList');
                form.on('submit', sendMsg);
            })
            .on('disconnect', function(){
                printStatus('соединение потеряно', {fontStyle: 'italic', color: '#ff0000'});
                form.off('submit', sendMsg);
                setTimeout(reconnect, 3000);
            })
            .on('UserList', function(userList){
                setUserList(userList);
            });

    function reconnect(){
        socket.once('error', function(){
            setTimeout(reconnect, 3000);
        });
        socket.socket.connect();
    }

    function setUserList(userList){
        list.empty();
        for(var i = 0; i < userList.length; i++) {
            $('<li></li>').text(userList[i]).appendTo(list);
        }
    };

    function sendMsg(){
        var inputText = $(this).find('#msg');
        var receiverText = $(this).find('#receiver');
        var receiver = receiverText.val();
        var text = inputText.val();

        if(text){
            if(receiver)
            {
                socket.emit('privateMessage', {receiver: receiver, text: text}, function(err, username) {
                    if(err){
                        printStatus(name + ' не подключен', {fontStyle: italic});
                    } else{
                        printMsg(username + '->' + receiver + ': ' + text, {backgroundColor: '#f1fbd7'});
                    }
                });
            }
            else
            {
                socket.emit('message', text, function(text, username) {
                    printMsg(username + ': ' + text,{backgroundColor: '#fbfae2'});
                });
            }
        }

        inputText.val('');
        return false;
    }

    function printMsg(text, style){
        $('<div></div>').text(text).css(style).appendTo(chatBody);
    }

    function printStatus(text, style){
        $('<div></div>').text(text).css(style).appendTo(chatBody);
    }
</script>