<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <% if (user) {%>
        <li><a href="">Чат</a></li>
        <% } else {%>
        <li><a href="">Главная</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 12px">
        <% if (user) {%>
        <li><a href="" onclick="$('<form method=POST action=/logout>').submit(); return false">Выйти</a></li>
        <% } else {%>
        <li><a href="/login">Войти</a></li>
        <% } %>
    </ul>
</nav>