body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ecf8ff;
}

a {
  color: #00B7FF;
}

.chat{
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid darkgrey;
  border-top-left-radius: 10px;
  height: 83vh;
  background-color: #eeffef;
}

.list{
  padding: 10px;
  border: 1px solid darkgrey;
  border-top-right-radius: 10px;
  height: 83vh;
  background-color: #eeffef;
}
