<html>
<head>
    <title><%- blocks.title %></title>
    <link rel="stylesheet" href="/libs/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/libs/bower_components/jquery/dist/jquery.js"></script>
    <script src="/libs/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<%- partial('../nav') %>
<%- body %>
</body>
</html>